{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    <title>Drinks</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/home">
              <img class="logo-2" src="{% static 'img/logo3.png' %}" alt="" height="80" width="150" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Food and Beverages</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/food">Food</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/drinks"
                        >Drinks</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Dabao</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/help_me_dabao">Help Me Dabao</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/help_others_dabao"
                        >Help Others Dabao</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                  <a href="/search_form" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Drinks</h2>
                <div class="page_link">
                  <a href="/home">Home</a>
                  <a href="#">Food and Beverages</a>
                  <a href="/drinks">Drinks</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area section_gap">
      <div class="container">
        <div class="main_title">
          <h2 class="mb-3">Drink Stalls in NUS</h2>
          <p>
            Refreshing drinks to enjoy on a typical hot day in Singapore
          </p>
        </div>
      </div>
    </div>
          <div class="row">
              <div class="col-lg-8">
                  <div class="blog_left_sidebar">
                    <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              <div class="post_tag">
                                  <a href="#">Coffee,</a>
                                  <a href="#">Tea,</a>
                                  <a class="active" href="#">Medicine,</a>
                                  <a href="#">Under $10</a>
                              </div>
                              <ul class="blog_meta list">
                                <li><a href="#">38 Like This<i class="ti-heart"></i></a></li>
                                <li><a href="#">12 Reviews<i class="ti-comment"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9">
                          <div class="blog_post">
                              <img src="{% static 'img/blog/main-blog/jewel_coffee.jpg' %}" alt="">
                              <div class="blog_details">
                                  <a href="/jewel_coffee">
                                      <h2>Jewel Coffee</h2>
                                  </a>
                                  <p>Jewel Coffee is really serious with their coffee and making sure each cup of espresso is carefully made.
                                  </p>
                                  <a href="/jewel_coffee" class="blog_btn">View Menu</a>
                              </div>
                          </div>
                      </div>
                  </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Fruit Juice,</a>
                                      <a href="#">Halal,</a>
                                      <a class="active" href="#">FASS The Deck,</a>
                                      <a href="#">Under $5</a>
                                  </div>
                                  <ul class="blog_meta list">
                                      <li><a href="#">62 Like This<i class="ti-heart"></i></a></li>
                                      <li><a href="#">08 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/deck_juice.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/deck_juice">
                                          <h2>Juice Stall at The Deck</h2>
                                      </a>
                                      <p>Craving avocado juice in the middle of lessons? Fret no more! Just head to this stall at FASS The Deck 
                                          and you'll come back with a big smile.
                                      </p>
                                      <a href="/deck_juice" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Coffee,</a>
                                    <a class="active" href="#">FASS,</a>
                                    <a href="#">Under $10</a>
                                </div>
                                <ul class="blog_meta list">
                                  <li><a href="#">50 Like This<i class="ti-heart"></i></a></li>
                                  <li><a href="#">12 Reviews<i class="ti-comment"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="{% static 'img/blog/main-blog/tcr.jpg' %}" alt="">
                                <div class="blog_details">
                                    <a href="/the_coffee_roaster">
                                        <h2>The Coffee Roaster</h2>
                                    </a>
                                    <p>Established by a freshman student in 2014 who juggled bwtween his studies and his entrepreneurship.
                                        The Coffee Roaster started as a humble cafe serving up cups of coffee to university students. 
                                        Yet time proved to be no obstacle for the determined young man. Visit The Coffee Roaster for more inspirations!
                                    </p>
                                    <a href="/the_coffee_roaster" class="blog_btn">View Menu</a>
                                </div>
                            </div>
                        </div>
                    </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Coffee,</a>
                                      <a href="#">Tea,</a>
                                      <a class="active" href="#">Science,</a>
                                      <a class="active" href="#">UTown,</a>
                                      <a href="#">Under $5</a>
                                  </div>
                                  <ul class="blog_meta list">
                                    <li><a href="#">46 Like This<i class="ti-heart"></i></a></li>
                                    <li><a href="#">09 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/liji.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/liji">
                                          <h2>LiJi Coffee</h2>
                                      </a>
                                      <p>Enjoy our range of freshly roasted coffee and tea at an affordable price!</p>
                                      <a href="/liji" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                        </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Coffee,</a>
                                      <a class="active" href="#">UTown,</a>
                                      <a href="#">Under $10</a>
                                  </div>
                                  <ul class="blog_meta list">
                                    <li><a href="#">28 Like This<i class="ti-heart"></i></a></li>
                                    <li><a href="#">15 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/sbucks.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/starbucks">
                                          <h2>Starbucks</h2>
                                      </a>
                                      <p>This particular stall needs no introductions! Everybody loves Starbucks, not just basic instagram girls.
                                      </p>
                                      <a href="/starbucks" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">
                                          <i class="ti-angle-left"></i>
                                      </span>
                                  </a>
                              </li>
                              <li class="page-item"><a href="/drinks" class="page-link">01</a></li>
                              <li class="page-item active"><a href="/drinks2" class="page-link">02</a></li>
                              <li class="page-item"><a href="#" class="page-link">03</a></li>
                              <li class="page-item"><a href="#" class="page-link">04</a></li>
                              <li class="page-item"><a href="#" class="page-link">09</a></li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <span aria-hidden="true">
                                          <i class="ti-angle-right"></i>
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      <aside class="single_sidebar_widget search_widget">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search Drink Stalls">
                              <span class="input-group-btn">
                                  <button class="btn btn-default" type="button"><i class="ti-search"></i></button>
                              </span>
                          </div><!-- /input-group -->
                          <div class="br"></div>
                      </aside>
                      <aside class="single_sidebar_widget popular_post_widget">
                          <h3 class="widget_title">Recent Transactions</h3>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/gongcha.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="/gongcha">
                                      <h3>GongCha</h3>
                                  </a>
                                  <p>02 Hours ago</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/gongcha.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="/gongcha">
                                      <h3>GongCha</h3>
                                  </a>
                                  <p>02 Hours ago</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/liho.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="/liho">
                                      <h3>LiHo</h3>
                                  </a>
                                  <p>03 Hours ago</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/spinelli.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="/spinelli">
                                      <h3>Spinelli</h3>
                                  </a>
                                  <p>01 Hours ago</p>
                              </div>
                          </div>
                          <div class="br"></div>
                      </aside>
                      <aside class="single_sidebar_widget ads_widget">
                          <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                          <div class="br"></div>
                      </aside>
                      <aside class="single-sidebar-widget tag_cloud_widget">
                          <h4 class="widget_title">Tag Clouds</h4>
                          <ul class="list">
                            <li><a href='/Coffee'>Coffee</a></li>
                            <li><a href='/Tea'>Tea</a></li>
                            <li><a href='/Juices'>Juices</a></li>
                            <li><a href="/Utown_drink">University Town</a></li>
                            <li><a href="/Yih_drink">Yusof Ishak House</a></li>
                            <li><a href="/Pgp_drink">PGP</a></li>
                            <li><a href="/Soc_drink">School of Computing</a></li>
                            <li><a href="/Ff_drink">Fine Food Utown</a></li>
                            <li><a href="/Flavors_drink">Flavors Utown</a></li>
                            <li><a href="/Deck_drink">FASS The Deck</a></li>
                            <li><a href="/Frontier_drink">Faculty of Science Frontier</a></li>
                          </ul>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->
  
  <!--================ Start footer Area  =================-->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>DabaoNUSi</h4>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Video Tutorial</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Developers</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/food">Food</a></li>
            <li><a href="/drinks">Drinks</a></li>
            <li><a href="/help_me_dabao">Help Me Dabao</a></li>
            <li><a href="/help_others_dabao">Help Others Dabao</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Contact</h4>
          <ul>
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Partnerships</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Others</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Newsletter</h4>
          <p>You can trust us. We only send promo offers,</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form
              target="_blank"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get"
              class="form-inline"
            >
              <input
                class="form-control"
                name="EMAIL"
                placeholder="Your Email Address"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address'"
                required=""
                type="email"
              />
              <button class="click-btn btn btn-default">
                <span>subscribe</span>
              </button>
              <div style="position: absolute; left: -5000px;">
                <input
                  name="b_36c4fd991d266f23781ded980_aefe40901a"
                  tabindex="-1"
                  value=""
                  type="text"
                />
              </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-sm-12 footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
      
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
          <script src="{% static 'js/popper.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
          <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
          <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
          <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
          <script src="{% static 'js/mail-script.js' %}"></script>
          <!--gmaps Js-->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
          <script src="{% static 'js/gmaps.min.js' %}"></script>
          <script src="{% static 'js/theme.js' %}"></script>
        </body>
      </html>