{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    <title>Food</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/home">
              <img class="logo-2" src="{% static 'img/logo3.png' %}" alt="" height="80" width="150" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Food and Beverages</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/food">Food</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/drinks"
                        >Drinks</a
                      >
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Dabao</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/help_me_dabao">Help Me Dabao</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/help_others_dabao"
                        >Help Others Dabao</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                  <a href="/search_form" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Food</h2>
                <div class="page_link">
                  <a href="/home">Home</a>
                  <a href="#">Food and Beverages</a>
                  <a href="/food">Food</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area section_gap">
      <div class="container">
        <div class="main_title">
          <h2 class="mb-3">Other Amazing Food Stalls</h2>
          <p>
            Tasty, healthy and cheap food around you
          </p>
        </div>
      </div>
    </div>
          <div class="row">
              <div class="col-lg-8">
                  <div class="blog_left_sidebar">
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Western,</a>
                                      <a class="active" href="#">YIH,</a>
                                      <a class="active" href="#">UTown,</a>
                                      <a href="#">Under $10</a>
                                  </div>
                                  <ul class="blog_meta list">
                                      <li><a href="#">22 Like This<i class="ti-heart"></i></a></li>
                                      <li><a href="#">03 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/subway.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/subway">
                                          <h2>Subway</h2>
                                      </a>
                                      <p>From the meatball marinara to the chipotle chicken melt, you'll love every single sandwich from Subway! 
                                          Coupled with hot soup and fresh drinks at just $5++, there is nothing that could go wrong.
                                      </p>
                                      <a href="/subway" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Chinese,</a>
                                      <a class="active" href="#">Science,</a>
                                      <a href="#">Under $5</a>
                                  </div>
                                  <ul class="blog_meta list">
                                    <li><a href="#">46 Like This<i class="ti-heart"></i></a></li>
                                    <li><a href="#">09 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/ichiban.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/ichiban">
                                          <h2>Taiwan Ichiban</h2>
                                      </a>
                                      <p>There is no need for you to fly too Taiwan when you can enjoy authentic Taiwanese 
                                          food from Taiwan Ichiban. From snacks to bubble tea, you can have 'em all!
                                      </p>
                                      <a href="/ichiban" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Western,</a>
                                      <a href="#">Indoor,</a>
                                      <a class="active" href="#">USC,</a>
                                      <a href="#">Under $10</a>
                                  </div>
                                  <ul class="blog_meta list">
                                    <li><a href="#">50 Like This<i class="ti-heart"></i></a></li>
                                    <li><a href="#">12 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/tea_party.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/teaparty">
                                          <h2>The Tea Party</h2>
                                      </a>
                                      <p>The Tea Party serves Italian food at very reasonable prices, 
                                          and it’s no surprise that it is highly popular with students who are looking for good food that does not cost a bomb!
                                      </p>
                                      <a href="/teaparty" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Western,</a>
                                      <a class="active" href="#">FASS The Deck,</a>
                                      <a class="active" href="#">Science,</a>
                                      <a href="#">Under $10</a>
                                  </div>
                                  <ul class="blog_meta list">
                                    <li><a href="#">38 Like This<i class="ti-heart"></i></a></li>
                                    <li><a href="#">12 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/pasta_express.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/pasta_express">
                                          <h2>Pasta Express</h2>
                                      </a>
                                      <p>None actually sounds better than customising your own pasta at an affordable price.</p>
                                      <a href="/pasta_express" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">Chinese,</a>
                                      <a class="active" href="#">FASS The Deck,</a>
                                      <a href="#">Under $10</a>
                                  </div>
                                  <ul class="blog_meta list">
                                    <li><a href="#">98 Like This<i class="ti-heart"></i></a></li>
                                    <li><a href="#">35 Reviews<i class="ti-comment"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img src="{% static 'img/blog/main-blog/fass_mala.jpg' %}" alt="">
                                  <div class="blog_details">
                                      <a href="/fass_mala">
                                          <h2>Liang Ban Kung Fu Mala</h2>
                                      </a>
                                      <p>Who doesn't love Mala? Here at Liang Ban Kung Fu, you can even order Mala for one person portion!
                                      </p>
                                      <a href="/fass_mala" class="blog_btn">View Menu</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">
                                          <i class="ti-angle-left"></i>
                                      </span>
                                  </a>
                              </li>
                              <li class="page-item"><a href="/food" class="page-link">01</a></li>
                              <li class="page-item active"><a href="/food2" class="page-link">02</a></li>
                              <li class="page-item"><a href="#" class="page-link">03</a></li>
                              <li class="page-item"><a href="#" class="page-link">04</a></li>
                              <li class="page-item"><a href="#" class="page-link">09</a></li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <span aria-hidden="true">
                                          <i class="ti-angle-right"></i>
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      <aside class="single_sidebar_widget search_widget">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search Restaurant">
                              <span class="input-group-btn">
                                  <button class="btn btn-default" type="button"><i class="ti-search"></i></button>
                              </span>
                          </div><!-- /input-group -->
                          <div class="br"></div>
                      </aside>
                      <aside class="single_sidebar_widget popular_post_widget">
                          <h3 class="widget_title">Recent Transactions</h3>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/c2.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="/sinkee">
                                      <h3>Sin Kee Famous Chicken Rice</h3>
                                  </a>
                                  <p>02 Hours ago</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/c1.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="#">
                                      <h3>Yong Tau Foo at The Deck</h3>
                                  </a>
                                  <p>02 Hours ago</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/c1.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="#">
                                      <h3>Yong Tau Foo at The Deck</h3>
                                  </a>
                                  <p>03 Hours ago</p>
                              </div>
                          </div>
                          <div class="media post_item">
                              <img src="{% static 'img/blog/popular-post/c1.jpg' %}" alt="post">
                              <div class="media-body">
                                  <a href="#">
                                      <h3>Yong Tau Foo at The Deck</h3>
                                  </a>
                                  <p>01 Hours ago</p>
                              </div>
                          </div>
                          <div class="br"></div>
                      </aside>
                      <aside class="single_sidebar_widget ads_widget">
                          <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                          <div class="br"></div>
                      </aside>
                      <aside class="single-sidebar-widget tag_cloud_widget">
                          <h4 class="widget_title">Tag Clouds</h4>
                          <ul class="list">
                              <li><a href="/Western">Western</a></li>
                              <li><a href="/Chinese">Chinese</a></li>
                              <li><a href="/Korean">Korean</a></li>
                              <li><a href="/Japanese">Japanese</a></li>
                              <li><a href="/Non_Halal">Non Halal</a></li>
                              <li><a href="/Halal">Halal</a></li>
                              <li><a href="/Utown_food">University Town</a></li>
                              <li><a href="/Yih_food">Yusof Ishak House</a></li>
                              <li><a href="/Pgp_food">PGP</a></li>
                              <li><a href="/Soc_food">School of Computing</a></li>
                              <li><a href="/Ff_food">Fine Food Utown</a></li>
                              <li><a href="/Flavors_food">Flavors Utown</a></li>
                              <li><a href="/Deck_food">FASS The Deck</a></li>
                              <li><a href="/Frontier_food">Faculty of Science Frontier</a></li>
                          </ul>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->

    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>DabaoNUSi</h4>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="#">Video Tutorial</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Developers</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="/food">Food</a></li>
              <li><a href="/drinks">Drinks</a></li>
              <li><a href="/help_me_dabao">Help Me Dabao</a></li>
              <li><a href="/help_others_dabao">Help Others Dabao</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Contact</h4>
            <ul>
              <li><a href="#">Promotion</a></li>
              <li><a href="#">Partnerships</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Others</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">Guides</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Experts</a></li>
              <li><a href="#">Agencies</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 single-footer-widget">
            <h4>Newsletter</h4>
            <p>You can trust us. We only send promo offers,</p>
            <div class="form-wrap" id="mc_embed_signup">
              <form
                target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get"
                class="form-inline"
              >
                <input
                  class="form-control"
                  name="EMAIL"
                  placeholder="Your Email Address"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email Address'"
                  required=""
                  type="email"
                />
                <button class="click-btn btn btn-default">
                  <span>subscribe</span>
                </button>
                <div style="position: absolute; left: -5000px;">
                  <input
                    name="b_36c4fd991d266f23781ded980_aefe40901a"
                    tabindex="-1"
                    value=""
                    type="text"
                  />
                </div>

                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div class="col-lg-4 col-sm-12 footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-twitter"></i></a>
            <a href="#"><i class="ti-dribbble"></i></a>
            <a href="#"><i class="ti-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
  </body>
</html>
