{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    <title>Help Others Dabao</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="index.html">
              <img class="logo-2" src="{% static 'img/logo3.png' %}" alt="" height="80" width="150" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Food and Beverages</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/food">Food</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/drinks"
                        >Drinks</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Dabao</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/help_me_dabao">Help Me Dabao</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/help_others_dabao"
                        >Help Others Dabao</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                  <a href="/search_form" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Help Others Dabao</h2>
                <div class="page_link">
                  <a href="/home">Home</a>
                  <a href="/home">Dabao</a>
                  <a href="/help-others-dabao">Help Others Dabao</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="job-search align-items-center justify-content-center">
      <div class="tab-content bg-white p-4 rounded" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
          <p>

          </p>
          <h1 class="mb-3 text-center">Search Dabao Requests</h1>
          <form action="#" method="post">
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="eg. GongCha">
              </div>
              <form method="POST" action="{% url 'theApp:help_others_dabao_result' %}">
                {% csrf_token %}
                <div class="input-field">
                    <div class="input-select">
                        <div class="input-select">
                            <label for='location'></label>
                            <select id="location" data-trigger="" name="location">
                                <option selected>STALL LOCATION</option>
                                {% for loc in locations %}
                                <option value="{{ loc }}">{{ loc }}</option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>        
                </div>
              </form>
              <form method="POST" action="{% url 'theApp:help_others_dabao_result' %}">
                {% csrf_token %}
                <div class="input-field">
                    <div class="input-select">
                        <div class="input-select">
                            <label for='destination'></label>
                            <select id="destination" data-trigger="" name="destination">
                                <option selected>DESTINATION</option>
                                {% for dest in destinations %}
                                <option value="{{ dest }}">{{ dest }}</option>
                                {% endfor %}
                              </select>
                        </div>
                    </div>        
                </div>
              </form>
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <input type="submit" class="btn btn-primary btn-block" value="Search">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="site-section bg-light section_gap">
      <div class="container">
        {% for ord in orders %}
        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">{{ord.restaurant}}</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> {{ord.get_hours}}
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">{{ord.owner}}</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> {{ord.destination}}</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2" data-target="#helpDabaoModal" data-toggle="modal">Help Dabao</a>
               </div>
            </div>
            <div class="modal" tabindex="-1" id="helpDabaoModal" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Confirmation</h5>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>                
                      </div>
                      <div class="modal-body">
                        <p>Meals and Drinks</p>
                        {% for meal in ord.get_cart_items %}
                        <ul>
                            <li> {{meal.meal.name}}, Price : {{meal.meal.price}} </li>
                        </ul>
                        {% endfor %}
                        <p>Total : {{ord.get_cart_total}} </p>
                      </div>
                      <div class="modal-body">
                          <p>Are you sure you want to help?</p>
                          <p class="text-secondary"><small>Upon proceeding, this request will be removed from the system. </small></p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-primary" href="{% url 'theApp:confirmation' ord.id %}">Proceed</a>
                      </div>
                  </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!---
        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Yong Tau Foo at FASS The Deck</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:00 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Vivienne</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Kent Ridge Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Hwang's Korean at UTown</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:20 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Lee MK</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> RC4</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Subway at UTown</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:30 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Christabelle</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> CAPT</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">LiHo at YIH</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 15:00 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Jessica Lee</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Raffles Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Juice Stall at FASS The Deck</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 15:30 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Geoffrey Lee</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Eusoff Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Starbucks at UTown</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:30 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Lee SJ</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Kent Ridge Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Taiwan Ichiban at Science</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:00 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Xizuan</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Raffles Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Sin Kee Chicken Rice at FASS The Deck</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:30 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Gregory</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Eusoff Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">LiJi Coffeehouse at Science</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 10:00 PM - 13:00 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Rock Lee</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> RVRC</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Yong Tau Foo at FASS The Deck</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:00 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Justin Fong</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Temasek Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">Starbucks at UTown</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 13:30 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Michelle Lim</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> RVRC</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>

        <div class="row" data-aos="fade">
          <div class="col-md-12">
 
            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
               <div class="mb-4 mb-md-0 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">GongCha at UTown</h2>
                  <div class="badge-wrap">
                   <span class="bg-warning text-white badge py-2 px-4"> 
                    <span class="ti-time mr-2"></span> 12:00 PM - 14:30 PM
                  </span>
                  </div>
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#"> Gretel</a></div>
                  <div><span class="fl-bigmug-line-big104"></span> <span><span class="ti-location-pin mr-2"></span> Temasek Hall</span></div>
                </div>
               </div>
 
               <div class="ml-auto">
                 <a href="#" class="btn btn-primary py-2">Help Dabao</a>
               </div>
            </div>
 
          </div>
        </div>


        <nav class="blog-pagination justify-content-center d-flex">
          <ul class="pagination">
              <li class="page-item">
                  <a href="#" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">
                          <i class="ti-angle-left"></i>
                      </span>
                  </a>
              </li>
              <li class="page-item active"><a href="/food" class="page-link">01</a></li>
              <li class="page-item"><a href="/food2" class="page-link">02</a></li>
              <li class="page-item"><a href="#" class="page-link">03</a></li>
              <li class="page-item"><a href="#" class="page-link">04</a></li>
              <li class="page-item"><a href="#" class="page-link">05</a></li>
              <li class="page-item">
                  <a href="#" class="page-link" aria-label="Next">
                      <span aria-hidden="true">
                          <i class="ti-angle-right"></i>
                      </span>
                  </a>
              </li>
              -->
          </ul>
        </nav>
      </div>
    </div>
    
  <!--================ End footer Area  =================-->
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
  </body>
</html>