{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Project DabaoNUSi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="index.html">
              <img class="logo-2" src="{% static 'img/logo3.png' %}" alt="" height="80" width="150" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Food and Beverages</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/food">Food</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/drinks"
                        >Drinks</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Dabao</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/help_me_dabao">Help Me Dabao</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/help_others_dabao"
                        >Help Others Dabao</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                  <a href="/search_form" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Help Me Dabao</h2>
                <div class="page_link">
                  <a href="/home">Home</a>
                  <a href="#">Dabao</a>
                  <a href="/help_me_dabao">Help Me Dabao</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <div class="popular_courses section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="main_title">
              <h2 class="mb-3">Our Popular Requests</h2>
              <p>
                <i>Popular dishes and drinks that our NUS community loves</i>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-6 align-self-center">
            <h1>
              01.
            </h1>
            <div class="dishes-text">
              <h3>
                <span>Gongcha's</span>
                <br>
                " Pearl Milk Tea"
              </h3>
              <p class="pt-3">
                Pearl milk tea  (珍珠奶茶), sometimes referred to as Bubble Tea or Boba, is a Taiwanese
                 drink combines milk tea with tapioca-type balls. The balls are also known as pearls, so 
                the Chinese translation of 珍珠奶茶 is literally pearl (珍珠) milk (奶) tea (茶). The sweet taste of the tea 
                paired with the chewy tapioca balls make up the unique element that boba provides. There really is 
                no other drinks like it.
              </p>
              <span class="style-change">$3.50</span>
              <a href="/gongcha" class="template-btn3 mt-3">
                "Help Me Dabao, Pls!"
                <span>
                  <i class="fa fa-long-arrow-right">
                  </i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
            <img src="{% static 'img/blog/popular-post/pearl_milk_tea.jpg' %}" alt class="img-fluid">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center">
            <h1>
              02.
            </h1>
            <div class="dishes-text">
              <h3>
                <span>Sin Kee's</span>
                <br>
                " Chicken Rice"
              </h3>
              <p class="pt-3">
                Sin Kee Chicken Rice is a relatively new addition to the plethora of food at The Deck in the Arts faculty. 
                It is easy to identify the stall with its long queue during peak hours that very often extends and significantly blocks
                 the main passage of the centre of the lower deck. This humble chicken rice stall used to be located at Margaret Drive Food Centre
                  and has become a sensation among NUS students, with some of my friends literally 
                eating it on a daily basis. Priced at $2.30 per plate, you can add anything you want and it will probably remain below $5.
              </p>
              <span class="style-change">$3</span>
              <a href="/sinkee" class="template-btn3 mt-3">
                "Help Me Dabao, Pls!"
                <span>
                  <i class="fa fa-long-arrow-right">
                  </i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
            <img src="{% static 'img/blog/popular-post/chicken_rice.jpg' %}" alt class="img-fluid">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center">
            <h1>
              03.
            </h1>
            <div class="dishes-text">
              <h3>
                <span>Waa Cow!'s</span>
                <br>
                " Signature Wagyu Beef Bowl"
              </h3>
              <p class="pt-3">
                If you’re ever planning on indulging on something as rich and 
                luxurious as a Wagyu bowl, we urge you not to waste your calories (and money), 
                and order Waa Cow! for one heck of a memorable meal.
              </p>
              <span class="style-change">$16.9</span>
              <a href="#" class="template-btn3 mt-3">
                "Help Me Dabao, Pls!"
                <span>
                  <i class="fa fa-long-arrow-right">
                  </i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
            <img src="{% static 'img/blog/popular-post/waa_cow_beef_bowl.jpg' %}" alt class="img-fluid">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center">
            <h1>
              04.
            </h1>
            <div class="dishes-text">
              <h3>
                <span>FASS The Deck's</span>
                <br>
                " Yong Tau Foo"
              </h3>
              <p class="pt-3">
                Having been featured in various media, the stall still maintain their pricing and quality. The stall offers a 
                scrumptious meal with extremely affordable price. One bowl of yong tau foo 
                normally cost around $3-4. Sounds too good to be true? Just order!
              </p>
              <span class="style-change">$3.5</span>
              <a href="/yongtaufoo" class="template-btn3 mt-3">
                "Help Me Dabao, Pls!"
                <span>
                  <i class="fa fa-long-arrow-right">
                  </i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
            <img src="{% static 'img/blog/popular-post/yong_tau_foo.jpg' %}" alt class="img-fluid">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center">
            <h1>
              05.
            </h1>
            <div class="dishes-text">
              <h3>
                <span>Starbucks's</span>
                <br>
                " Java Chip Frappuccino"
              </h3>
              <p class="pt-3">
                This frappuccino is best-suited for people who like the taste of coffee (and not people who order a 
                frappuccino so that they don’t have to taste the coffee)! As Starbucks itself explains, baristas make this drink by blending mocha 
                sauce and Frappuccino chips with coffee, milk, and ice. Then, of course, they top the drink with whipped cream and mocha drizzle.
              </p>
              <span class="style-change">$8</span>
              <a href="/starbucks" class="template-btn3 mt-3">
                "Help Me Dabao, Pls!"
                <span>
                  <i class="fa fa-long-arrow-right">
                  </i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
            <img src="{% static 'img/blog/popular-post/java_chip.jpg' %}" alt class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <!--================Blog Area =================-->
    <section class="feature_area section_gap_top title-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="main_title">
              <h2 class="mb-5 text-white">Can't Find What You Want?</h2>
            </div>
          </div>
        </div>
        <div class="banner_content text-center">
          <form method="POST" action="{% url 'theApp:help_me_dabao_search' %}">
            {% csrf_token %}
            <div class="banner_content text-center">
              <div class="col-lg-20 justify-content-center">
                <div class="form-group">
                  <input id="search" type="text" name="keyword" placeholder="Type Keywords" />
                  <button class="click-btn btn btn-default">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                      <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="form-group">
                <span class="desc">Advanced Search</span>
                <div class="row justify-content-center">
                  <form>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="input-select">
                                <label for='price'></label>
                                <select id="price" data-trigger="" name="price">
                                  <option selected>PRICE</option>
                                  {% for pri in prices %}
                                  <option value="{{ pri }}">{{ pri }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>        
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="input-select">
                                <label for='location'></label>
                                <select id="location" data-trigger="" name="location">
                                  <option selected>LOCATION</option>
                                  {% for loc in locations %}
                                  <option value="{{ loc }}">{{ loc }}</option>
                                  {% endfor %}
                                </select>
                          </div>
                      </div>        
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="input-select">
                                <label for='reviews'></label>
                                <select id="reviews" data-trigger="" name="reviews">
                                  <option selected>REVIEW</option>
                                  {% for rev in reviews %}
                                  <option value="{{ rev }}">{{ rev }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>        
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <div class="input-select">
                                <label for='dietarys'></label>
                                <select id="dietarys" data-trigger="" name="dietarys">
                                  <option selected>DIETARY NEEDS</option>
                                  {% for diet in dietarys %}
                                  <option value="{{ diet }}">{{ diet }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>        
                    </div>
                    <div class="input-field">
                          <div class="input-select">
                              <div class="input-select">
                                  <label for='others'></label>
                                  <select id="others" data-trigger="" name="others">
                                  <option selected>OTHERS</option>
                                    {% for ot in others %}
                                    <option value="{{ ot }}">{{ ot }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                          </div>        
                    </div>
                </form>
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!--================Blog Area =================-->
    <!--================ Start Testimonial Area =================-->
    <div class="testimonial_area section_gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">More About DabaoNUSi</h2>
              <p>
                Comment: a video tutorial will be uploaded here once we finish editing
              </p> 
            </div>
          </div>
        </div>

        <html>
          <body>
            <video>
              <source src="">
            </video>
          </body>
        </html>
      </div>
    </div>
    <!--================ End Testimonial Area =================-->

      
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
          <script src="{% static 'js/popper.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
          <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
          <script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
          <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
          <script src="{% static 'js/mail-script.js' %}"></script>
          <!--gmaps Js-->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
          <script src="{% static 'js/gmaps.min.js' %}"></script>
          <script src="{% static 'js/theme.js' %}"></script>
        </body>
      </html>