{% extends "base.html" %}

{% block content %}

 <section>
   <div class="row">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>no.</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      {% for item in order.get_cart_items %}
      
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {{ item.meal.name }}
            <span class="pull-right">
              <a href="{% url 'shopping_cart:delete_item' item_id=item.id rest_id=rest_id%}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete();">
                <i class="fas fa-trash"></i>
              </a>
            </span>
            <span class="pull-right">
              <a href="{% url 'shopping_cart:add_item' item_id=item.id rest_id=rest_id%}" data-balloon="add item quantity" class="text-danger">
                <i class="fas fa-plus"></i>
              </a>
            </span>
          </td>
          <td>{{item.quantity}}</td>
          <td>{{ item.get_total }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order.get_cart_total != None %}
        <td colspan=2>
          <strong class="pull-right">Order Total:</strong>
        </td>
        
        <td colspan= 1>
          $<strong>{{ order.get_cart_total }}</strong>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=1 >
          <a href="{% url 'theApp:meal_list' rest_id %}" class="btn btn-warning pull-left">
            {% if order.get_cart_total != 0 %}Continue Shopping{% else %}Add Items to Cart {% endif %}
          </a> 
        </td>
      </tr>
      <tr>
        {% if order.get_cart_total != None %}
          <td colspan="5">
          <a class='btn btn-warning float-right ml-2' href="{% url 'shopping_cart:checkout' order_id=order.id rest_id=rest_id %}">Proceed to checkout</a>
          <!-- <a class='btn btn-primary float-right' href='/'>Continue shopping</a> -->
          </td>
        {% endif %}
      </tr>
    </table>
     
   </div>
 </section>


{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
  function confirm_delete(){
    return confirm("Do you want to remove this item from cart?");
  }
  </script>
{% endblock scripts %}

